<header style="background-color: #A5FFFF;color: #FFCCED; font-weight: bold;height: 38px">
  <div style="text-align: center">
    <a routerLink="" style="color: #FFCCED">LE CINEMA DE L'ENI</a>
    <div class="btn-group dropleft" style="float: right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #B16D37;color: black">
        Mon compte
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" style="background-color: #83ffd3" routerLink="/inscription">Mon profil</a>
        <a class="dropdown-item" style="background-color: #4568dd" routerLink="/reservations">Mes réservations</a>
        <a class="dropdown-item" style="background-color: #faff50" routerLink="/connexion" >Se connecter/S'inscrire</a>
      </div>
    </div>
  </div>
</header>
